html{
	width: 100vw;
	height: 100vw;
}

body{
	font-family: avenir;
	color: white;
}

@font-face{
	font-family: 'SourceSansPro-Bold';
	src: url('../assets/SourceSansPro-Bold.ttf');
}

header{
	padding-left: 0.3em;
}

main{
	background-color: black;
	padding: 0.3em;
	height: 100%;
}

h1{
	font-family: SourceSansPro-Bold;
	color: #e31a1f;
	font-size: 3.5em;
}

p{
	font-size: 3em;
}

iframe{
	width: 100%;
	height: 57em;
	border: 0;
}

footer{
	background-color: white;
	width: 100%;
	border-top: 0.05em solid;
}

a.home{
	padding: 0.3em;
}

a.search{
	margin-left: 150px;
}

a.saved{
	float: right;
	padding-right: 0.6em;
}

img.logo{
	height: 100%;
	width: 75%;
}

img.back_button{
	height: 100%;
	width: 5%;
	display: block;
}

img.saved_icon{
	height: 3em;
	padding-top: 0.5em;
	float: right;
}

img.home_icon{
	height: 3em;
	padding-top: 0.5em;
}

img.search_icon{
	height: 3em;
	padding-top: 0.5em;
	margin-left: 15em;
}

img.start{
	display: block;
	margin: 0em auto;
	padding-bottom: 0.5em;
	height: 3em;
}